footer {
  background-color: #2e2e2e;
}

.contact {
  padding-top: 5rem;
  padding-bottom: 3.6rem;
}

.copyright {
  background-color: #222;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.social-links li {
  display: inline-block;
  margin-right: 0.3rem;
  opacity: 0.6;
}

.green {
  color: #2ecc71;
  font-weight: bold;
}

.i-am {
  font-weight: 200;
  line-height: 0.9;
  font-size: 6.4rem!important;
  margin-bottom: 0!important;
}

.full-stack {
  margin-top: -1rem!important;
  letter-spacing: 6px;
  margin-left: 8px!important;
  margin-top: -14px!important;
}

.light {
  opacity: 0.4;
  font-size: 0.7rem;
}

.project {
  height: 33vh;
  min-height: 200px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.project-ezmi {
  background-image: url('../images/ezmi.png');
}

.project-seamy {
  background-image: url('../images/seamy.png');
}

.project-boxbuzz {
  background-image: url('../images/boxbuzz.png');
}

.project-effenti {
  background-image: url('../images/effenti-e.jpg');
}

.project-budgeto {
  background-image: url('../images/budgeto-e.jpg');
}

.project-timchat {
  background-image: url('../images/timchat.png');
}

.project-timeline {
  background-image: url('../images/timeline.png');
}

.project-miel {
  background-image: url('../images/miel.png');
}

.project-ciusss {
  background-image: url('../images/ciusss-e.jpg');
}

.cohan {
  color: #2ecc71;
  font-weight: bold;
  line-height: 0.9;
  font-size: 6.4rem!important;
}

.social-links li:hover {
  opacity: 1;
}

.spacer {
  display: block;
  height: 8px;
}

.social-links li:last-child {
  margin-right: 0;
}

.percent {
  font-size: 90%;
  margin-top: 2px;
}

.progress-custom {
  height: 0.4rem!important;
  margin-bottom: 4px!important;
}

.social-icon {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  display: block;
  width: 24px;
  height: 24px;
}


.facebook {
  background-image: url('../images/facebook.svg');
}

.twitter {
  background-image: url('../images/twitter.svg');
}

.linkedin {
  background-image: url('../images/linkedin.svg');
}

.youtube {
  background-image: url('../images/youtube.svg');
}

.heading {
  color: #fff;
  font-weight: bold;
}

.heading-black {
  color: #2e2e2e;
}

.fancy {
  color: #2ecc71;
  font-family: 'Gochi Hand', cursive;
}

.tabs li.is-active a {
  color: #2ecc71;
  border-bottom-color: #2ecc71;
}

.max-width {
  max-width: 800px;
  margin: auto;
}

.is-white {
  background-color: transparent!important;
}
.hero-color {
  background-color: #f2f2f2;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.17s ease-in-out;
  box-shadow: none;
}

.grey-bg {
  background-color: #f2f2f2;
}

#portfolio .column {
  margin-bottom: 20px;
}

#portfolio .card {
  border-radius: 4px;
}

#portfolio .column .subtitle {
  margin-top: 6px;
  font-size: 0.8rem;
}

#portfolio .card {
  transition: opacity 0.17s ease-in-out;
}

#portfolio .card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.heading:before {
  content: "—";
  opacity: 0.4;
  margin-right: 1rem;
  position: relative;
  top: -1px;
}

.heading:after {
  content: "—";
  opacity: 0.4;
  margin-left: 1rem;
  position: relative;
  top: -1px;
}

.heading-black:before {
  content: "—";
  opacity: 1;
  margin-right: 1rem;
  position: relative;
  top: -1px;
}

.heading-black:after {
  content: "—";
  opacity: 1;
  margin-left: 1rem;
  position: relative;
  top: -1px;
}

.phone {
  margin-bottom: 0!important;
}

.phone a {
  font-weight: bold;
  color: #fff;
}
.phone a:hover {
  color: #fff;
  opacity: 0.7;
}

small {
  color: #fff;
  opacity: 0.4;
}