* {
  color: #2e2e2e;
}

body::-webkit-scrollbar {
    width: 0.8rem;
}
 
body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.primary {
  color: #2ecc71;
  font-size: 150%;
}

.project-title {
  font-size: 3rem;
    text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

small {
  font-size: 40%;
}

.title {
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
}

.page {
  min-height: 500px;
  height: 58vh;
  position: relative;
  width: 100%;
}

.page-0 {
  min-height: 260px;
  height: 30vh;
}

.page-1 {
}

.page-2 {
}

.badge {
  background: #2ecc71;
  color: #ffffff;
  border: 0;
  padding: 4px 6px;
}

.right {
  width: calc(50% - 20px);
  float: right;
  clear: both;
}

.sideband {
  background-color: #2ecc71;
  width: 160px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 30%;
  bottom: 0;
}

.screenshot {
  background-image: url('../images/mockup.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  height: 40vh;
}

.date {
  color: #f5f5f5;
  font-size: 8rem;
  position: absolute;
  left: calc(30% - 4px);
  line-height: 7.5rem;
  top: 0px;
  display: inline-block;
    font-family: 'Anton', sans-serif;
}

.description {
  position: absolute;
  left: 0;
  top: 0px;
  text-align: right;
  max-width: 290px;
  padding-right: 50px;
}