* {
  color: #2e2e2e;
}

body::-webkit-scrollbar {
    width: 0.8rem;
}
 
body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.primary {
  color: #2ecc71;
  font-size: 150%;
}

.project-title {
  font-size: 3rem;
    text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

small {
  font-size: 40%;
}

.title {
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
}

.screenshot-inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 249px;
  width: 444px;
  display: block;
  position: relative;
  top: 20px;
  left: 19px;
  transition: all ease-in-out 0.2s;
}

.screenshot-inner:hover {
  opacity: 0.8;
  cursor: pointer;
}

.screenshot-inner-3 {
  background-image: url('../images/ezmi.png');
}

.screenshot-inner-4 {
  background-image: url('../images/seamy.png');
}

.screenshot-inner-5 {
  background-image: url('../images/boxbuzz.png');
}

.screenshot-inner-7 {
  background-image: url('../images/budgeto.png');
}

.screenshot-inner-8 {
  background-image: url('../images/effenti.png');
}

.screenshot-inner-9 {
  background-image: url('../images/timchat.png');
}

.screenshot-inner-10 {
  background-image: url('../images/timeline.png');
}

.screenshot-inner-13 {
  background-image: url('../images/miel.png');
}

.screenshot-inner-15 {
  background-image: url('../images/vegeporc.png');
    background-position: center;
}

.screenshot-inner-16 {
  background-image: url('../images/sushi.png');
}

.screenshot-inner-17 {
  background-image: url('../images/time-in-colors.png');
}

.screenshot-inner-18 {
  background-image: url('../images/convertisseur-html.png');
}

.page {
  min-height: 500px;
  height: 58vh;
  position: relative;
  width: 100%;
}

.page-0 {
  padding-top: 60px;
  margin-bottom: 50px;
  min-height: 260px;
  height: 30vh;
}

.page-1 {
}

.page-2 {
}

.badge {
  background: #2ecc71;
  color: #ffffff;
  border: 0;
  padding: 4px 6px;
}

.right {
  width: calc(50% - 20px);
  float: right;
  clear: both;
  margin-top: -45px;
}

.sideband {
  background: linear-gradient(#2ecc71, #3498db);
  width: 160px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 30%;
  bottom: 0;
}

.screenshot {
  background-image: url('../images/mockup.svg');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 480px;
  min-height: 400px;
  height: 40vh;
}

.date {
  color: #f5f5f5;
  font-size: 8rem;
  position: absolute;
  left: calc(30% - 4px);
  line-height: 7.5rem;
  top: 0px;
  display: inline-block;
    font-family: 'Anton', sans-serif;
}

.description {
  position: absolute;
  left: 0;
  top: 0px;
  text-align: right;
  max-width: 320px;
  padding-right: 50px;
}